<h1>New Digimon</h1>

<form method="post" action="/digimons">
    <div>
        <label>Name</label>
    </div>
        <input type="text" name="name"/>
    </div>
    <div>
        <label>Bio</label>
    </div>
    <div>
        <textarea name="bio"></textarea>
    </div>
    <div>
        <label>Superpower</label>
    </div>
    <div>
        <select name="superpower">
            <option value="virus">virus</option>
            <option value="vaccine">vaccine</option>
            <option value="data">data</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Submit Form" />
    </div>
</form>


